#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

li{
  display: flex;
  align-items: center;
  justify-content: center;
  list-style-type: none;
  width: 100%;
  font-size: 15px;
  padding: 5px;
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


.delete-btn{
  background-color: red;
  color: white;
}

